.topWindow {
    width: 80%;
    height: 50%;
    border-radius: 10px;
    border: 5px solid blueviolet;

}

.minMaxWindow {
    margin: 0px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.minMaxWindow form {
    height: 60px;
}

.minQuantity, .maxQuantity {
    width: 60px;
    height: 30px;
    background-color: white;
    border: none;
    color: black;
    font-size: 30px;
    border-radius: 5px;
    padding-left: 5px;
}

label {
    color: black;
    font-size: 20px;
    margin-right: 10px;
}


.presentationWindow {
    color: black;
    font-size: 20px;
}

.presentationWindowStart {
    color:red;
    bold:600;
}

.minValueError, .maxValueError {
    color:red;
    bold:600;
    width: 300px;
}